
html {
  font-size: 100%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'proxima-nova';
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

a {
  background-color: transparent;
  color: $vivid-tangerine;
  text-decoration: none;
  font-weight: bold;

  &:focus,
  &:hover {
    color: lighten($vivid-tangerine, 5%);
  }

  h1 &,
  h2 &,
  h3 & {
    font-weight: normal;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button[type=button],
button[type=submit],
input[type=submit],
.submit-button {
  background-color: $mine-shaft;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1px;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2em;

  &:focus,
  &:hover {
    color: white;
    background-color: lighten($mine-shaft, 10%);
  }
}

td,
th {
  padding: 0;
}

hr {
  border-top: 2px solid darken($alabaster, 5%);
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: $gutter*3;
  margin-bottom: $gutter*3;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-family: 'brandon-regular';
  font-size: 32px;
  line-height: 1em;
  letter-spacing: 0.02em;
}

h2 {
  font-family: 'brandon-regular';
  font-size: 26px;
}

h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600px;
  letter-spacing: 2px;
}

.content {
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: $gutter*2;
  padding-left: $gutter;
  padding-right: $gutter;
  padding-bottom: $gutter*4;

  @media(min-width: $screen-sm-min){
    padding-left: $gutter*2;
    padding-right: $gutter*2;
  }

  .row {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
}

.content-subnav {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  > li {

    h3 {
      margin: 0;
    }

    a {
      color: $alto;

      &:focus,
      &:hover {
        color: $mine-shaft;
      }
    }
    &.active a {
      color: $mine-shaft;
    }
  }
}

.site-title {
  font-family: 'brandon-regular';
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: $gutter;
  left: $gutter;
  letter-spacing: 1px;
  max-width: 100px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1em;
  a {
    color: white;
    text-decoration: none;
  }
}

.nav-links {
  color: white;
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 13px;

  > li {
    opacity: 0.8;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  a {
    text-decoration: none;
    position: relative;
    color: inherit;

    &:focus,
    &:hover {
      color: inherit;
    }
  }
}

nav {

  > ul {
    display: none;

    @media(min-width: $nav-breakpoint){
      display: block;
      position: absolute;
      top: $gutter*2;
      right: $gutter;
      text-align: right;
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 0;
      padding-left: 0;
    }

    > li {
      display: inline-block;
      position: relative;
      padding-left: $half-gutter;

      &:hover {
        .subnav {
          opacity: 1;
          transform: translateY(0);
          li {
            height: auto;
          }
        }
      }
    }
  }

  .subnav {
    opacity: 0;
    display: none;

    @media(min-width: $nav-breakpoint){
      display: block;
    }

    position: absolute;
    top: $half-gutter;
    right: 0;
    left: 0;
    padding-left: 0;
    padding-top: $half-gutter;
    transform: translateY(-$half-gutter);
    transition: transform 0.2s;

    li {
      height: 1px;
      display: block;
    }
    a {
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media(max-width: $nav-breakpoint){

    .nav-opened & {
      z-index: 10;

      > ul {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-color: $mine-shaft;
        color: white;
        text-align: center;
        margin: 0;
        font-size: 15px;
        padding-top: $gutter*6;
        padding-left: $gutter*2;
        padding-right: $gutter*2;
        padding-bottom: $gutter*2;

        li {
          display: block;
          animation: reo-fade-in .3s forwards;
          -webkit-animation: reo-fade-in .3s forwards;
          margin-bottom: $gutter;
        }
      }
    }
  }
}

.hamburger {
  display: block;
  position: absolute;
  top: $gutter;
  right: $gutter;
  cursor: pointer;
  user-select: none;
  color: rgba(255,255,255,0.9);
  width: 22px;
  height: 22px;
  z-index: 100;

  @media(min-width: $nav-breakpoint){
    display: none;
  }

  .top-bun,
  .meat,
  .bottom-bun {
    width: 22px;
    height: 2px;
    background-color: white;
    -webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .meat {
    -webkit-transition: opacity 0s .15s linear;
    -moz-transition: opacity 0s .15s linear;
    -ms-transition: opacity 0s .15s linear;
    -o-transition: opacity 0s .15s linear;
    transition: opacity 0s .15s linear;
    top: 7px;
  }
  .bottom-bun {
    top: 14px;
  }

  .nav-opened & {

    .top-bun,
    .bottom-bun {
      -webkit-transition: top .1s .1s ease-in-out,-webkit-transform .1s .2s ease-in-out;
      -moz-transition: top .1s .1s ease-in-out,-moz-transform .1s .2s ease-in-out;
      -ms-transition: top .1s .1s ease-in-out,-ms-transform .1s .2s ease-in-out;
      transition: top .1s .1s ease-in-out,transform .1s .2s ease-in-out;
    }

    .top-bun {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 7px;
    }

    .meat {
      opacity: 0;
    }

    .bottom-bun {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 7px;
    }
  }
}

.footer {
  background-color: $east-bay;
  padding-bottom: $gutter*4;

  .nav-links {
    margin-top: $gutter*4;
    margin-bottom: $gutter*2;
    padding-left: $gutter;
    padding-right: $gutter;

    li {
      display: inline-block;
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }

  .copyright {
    color: white;
    opacity: 0.5;
    padding-left: $gutter*2;
    padding-right: $gutter*2;
  }
}

.social-bar {
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;
  padding-left: $gutter*2;
  padding-right: $gutter*2;
  background-color: $de-york;

  a {
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    color: $de-york;
    width: $gutter*2;
    height: $gutter*2;
    position: relative;
    text-align: center;

    &:focus,
    &:hover {
      background-color: rgba(255,255,255,1);
    }

    svg {
      position: relative;
      top: $gutter/2;
      height: 50%;
      width: 50%;
      fill: currentColor;
    }
  }
}

