$gutter: 20px;
$half-gutter: $gutter/2;
$quarter-gutter: $gutter/4;

$box-shadow: 0 0 5px rgba(0,0,0,0.3);

$slideshow-slide-count: 7;
$slideshow-slide-duration: 6s;
$slideshow-transition-duration: 1;

$screen-sm-min: 480px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1400px;

$nav-breakpoint: $screen-md-min;
$max-content-width: 960px;
