.p01-contact {

  .field {
    margin-top: .5em;
    &.inline {
      margin-top: 1em;
    }
  }

  label {
    display: block;
    font-weight: normal;

    .description{
      color: $alto;
      float: right;
    }
  }

  input:not([type=radio]):not([type=checkbox]),
  textarea,
  select {
    border: 1px solid $alto;
    background-color: $alabaster;
    margin: 0px;
    transition: all 0.3s ease-in-out;
    outline: none;
    width: 100%;
    font-size: 1em;

    &:focus {
      background-color: white;
    }
  }

  // input[type=submit]:hover,
  // input[type=button]:hover{
  //   background: $mine-shaft;
  //   color: white;
  //   box-shadow: none;
  // }

  .required label:after {
    content: ' *';
  }

  input[type=radio],
  input[type=checkbox] {
    vertical-align: middle;
  }

  :not(.inline) .options {
    // display: flex;
    // border: 1px solid #ddd;
    // padding: .5em;
  }

  :not(.inline) .options .option {
    // margin: 0 1em;
  }

  .options input {
    display: inline-block;
  }

  .error-msg {
    color: $danger;
  }

  .alert {
    padding: $gutter;
    margin-bottom: $gutter;
    // border: 1px solid transparent;

    &.success {
      color: $success;
      background-color: $success-background;
      // border-color: $success;
    }
    &.failed {
      color: $danger;
      background-color: $danger-background;
      // border-color: $danger;
    }
  }
}
