.p01-contact {

  .field {
    margin-top: $gutter*1.5;
    margin-bottom: $gutter;
  }

  label {
    display: block;
    font-weight: normal;
    margin-bottom: $gutter/4;

    .description{
      color: $alto;
      float: right;
    }
  }

  input:not([type=radio]):not([type=checkbox]):not([type=submit]),
  textarea,
  select {
    border: 1px solid $alto;
    background-color: $alabaster;
    padding: $gutter/2;
    margin: 0;
    outline: none;
    width: 100%;
    font-size: 1em;
    transition: all 0.3s ease-in-out;

    &:focus {
      background-color: white;
    }
  }

  .required label:after {
    content: ' *';
  }

  input[type=radio],
  input[type=checkbox] {
    vertical-align: middle;
  }

  .options input {
    display: inline-block;
  }

  .error-msg {
    color: $danger;
  }

  .alert {
    padding: $gutter;
    margin-bottom: $gutter;

    &.success {
      color: $success;
      background-color: $success-background;
    }
    &.failed {
      color: $danger;
      background-color: $danger-background;
    }
  }
}
