header {
  position: relative;
  height: 100px;

  .has-page-head & {
    height: 500px;
  }

  .body-index & {
    height: 700px;
  }
}

.background-img {
  height: 100%;
  position: relative;
  background-color: $mine-shaft;
  background-size: cover;
  background-position: center center;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
  }

  .body-index & {
    background-image: url('../img/pole-corners.jpg');
  }
  .body-about & {
    background-image: url('../img/legos-carrying-rocks.jpg');
  }
  .body-programs & {
    background-image: url('../img/robotics-soulder.jpg');
  }
  .body-admissions-apply & {
    background-image: url('../img/pick-me.jpg');
  }
  .body-admissions-faq & {
    background-image: url('../img/ground-mural.jpg');
  }
  .body-calendar & {
    background-image: url('../img/animal-play.jpg');
  }
  .body-contact & {
    background-image: url('../img/boys-looking.jpg');
  }
  .body-programs-pre-school & {
    background-image: url('../img/class-preschool.jpg');
  }
  .body-programs-middle-school & {
    background-image: url('../img/class-middleschool.jpg');
  }
  .body-programs-high-school & {
    background-image: url('../img/class-highschool.jpg');
  }
}

@keyframes float-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes float-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

.page-head-wrap {
  position: absolute;
  text-align: center;
  color: white;
  top: 200px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: float-in 0.3s 0.3s ease-out forwards;
  animation: float-in 0.3s 0.3s ease-out forwards;

  h1 {
    font-family: 'brandon-black';
    font-size: 30px;
    padding-left: $gutter;
    padding-right: $gutter;
    margin-top: $gutter*2;
    margin-bottom: $gutter*2;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    max-width: 12em;
    text-align: center;

    @media(min-width: $screen-sm-min){
      font-size: 48px;
      letter-spacing: 3px;
    }

    @media(min-width: $screen-md-min){
      font-size: 68px;
      letter-spacing: 4px;
    }
  }
}

.page-subhead {
  font-family: 'brandon-regular-italic';
  display: block;
  font-size: 24px;
}

.cta-button {
  color: white;
  font-family: 'proxima-nova';
  background-color: $vivid-tangerine;
  border-radius: 300px;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1.75em;
  display: inline-block;
  line-height: 1em;

  &:focus,
  &:hover {
    color: white;
    background-color: lighten($vivid-tangerine, 5%);
  }
}