<footer class="footer align-center">
  <div class="social-bar">
    <a href="http://www.facebook.com/PrimorisAcademyOrg" title="facebook" target="_blank">
      {% include "img/facebook.svg" %}
    </a>
    <a href="http://instagram.com/primorisacademy" title="instagram" target="_blank">
      {% include "img/instagram.svg" %}
    </a>
    <a href="https://twitter.com/primorisacademy" title="twitter" target="_blank">
      {% include "img/twitter.svg" %}
    </a>
  </div>
  <ul class="nav-links">
    {% for page in pages|sort_by('time') if page.meta.footer_nav_name %}
    <li><a href="{{ page.url }}">{{ page.meta.footer_nav_name }}</a></li>
    {% endfor %}
  </ul>
  <p class="copyright">
    &copy;
    <script>document.write(new Date().getFullYear())</script>
    Primoris Academy Inc. All rights reserved.
  </p>
</footer>
